@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.quiz-options {
    margin-left: -35px;
}

.quiz-body {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

input[type="radio"] {
    display: none;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3rem;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgb(128, 128, 128); 
}

.input-answer:checked + .answer {
    background-color: rgb(192, 128, 252);
    color: white;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px 0;
}

.quiz-foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 3rem;
    margin-top: 0.5rem; 
    border-radius: 0.5rem;
    background-color: white; 
    box-shadow: 3px 2px 5px rgb(148, 148, 148);
}

button:hover {
    background-color: rgb(188, 134, 239);
    color: white;
}

.input-answer.disabled + .answer {
    color: grey;
}